/Example5_childBrowser.class
/example1_alertpopUp.class
/example2_SwitchToChildWindow.class
/example3_SwitchTo_MainPageFrom_ChildWindow.class
/example4.class
/example4_AuthenticationPopUp.class
/example6_PermissionPopup.class
