/Policy.class
/example1_HandlingOfDropdown.class
/example2_mouseRightClick.class
/example3_mouseLeftClick.class
/example4_mouseLDoubleClick.class
/example5_mouseDragAndDrop.class
/example6_Slider.class
/example7_Resizable.class
